<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>

	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="rest">
					<webHttp defaultOutgoingResponseFormat="Json" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="baseBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="655360000" />
					<serviceThrottling maxConcurrentCalls="1500" maxConcurrentSessions="1500" maxConcurrentInstances="1500" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="baseBehavior" name="TestService.WCF.Sample">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<endpoint address="json" binding="webHttpBinding" behaviorConfiguration="rest" contract="TestService.WCF.Sample" />
			</service>
		</services>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>